﻿@model CertTrack.Models.EmployeeCertificate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Add Certificate to Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CertificateId" class="control-label"></label>
                <select asp-for="CertificateId" class ="form-control" asp-items="ViewBag.CertificateId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CertificateNumber" class="control-label"></label>
                <input asp-for="CertificateNumber" class="form-control" />
                <span asp-validation-for="CertificateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicatorId" class="control-label"></label>
                <input asp-for="ApplicatorId" class="form-control" />
                <span asp-validation-for="ApplicatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpReceiveDate" class="control-label"></label>
                <input asp-for="EmpReceiveDate" class="form-control" />
                <span asp-validation-for="EmpReceiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
