﻿@model CertTrack.Models.EmployeeCertificate

@{
    ViewData["Title"] = "Details";
    Layout = "";
}



<div>
    <h4>Certificate Information</h4>
    <hr />
	<table>

        <tr><td><B>
            @Html.DisplayNameFor(model => model.CertificateNumber)
</B></td>              <td>
            @Html.DisplayFor(model => model.CertificateNumber)
        </dd>
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.ApplicatorId)
</B></td>              <td>
            @Html.DisplayFor(model => model.ApplicatorId)
        </dd>
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.EmpReceiveDate)
</B></td>              <td>
            @Html.DisplayFor(model => model.EmpReceiveDate)
        </dd>
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.Comment)
</B></td>              <td>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.Certificate)
</B></td>              <td>
            @Html.DisplayFor(model => model.Certificate.CertificateName)
        </dd>
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.Employee)
</B></td>              <td>
            @Html.DisplayFor(model => model.Employee.FullName)
        
    </td></tr></table>
</div>

