@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_dt.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            /*   font-family: Arial;
               font-size: 10pt;  */
        }
            div .floatright {
            display: inline;
            float: right;
            padding-left: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
        }

        div.dt-buttons.btn-group.flex-wrap {
            display: inline;
            float: right;
            padding-left: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        
    </style>
</head>
<body>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div style="width: 100%">
        <table id="tblEmployeeCertificate" cellpadding="0" cellspacing="0" border="1" style="border-collapse:collapse">
            <thead>
                <tr>
                    <th>Certificate Number</th>
                    <th>Applicator ID</th>
                    <th>Receive Date</th>
                    <th>Comment  </th>
                    <th>Certificate </th>
                    <th>Employee  </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "POST",
                url: "/EmployeeCertificates/AjaxMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });
        function OnSuccess(response) {
            var employeecertificates = eval(response);
            $("#tblEmployeeCertificate").DataTable(
                {
                    dom: 'lf<"floatright"B>rtip',

                    buttons: [

                        {
                            extend: 'copyHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis',
                        {
                            extend: 'print',
                            exportOptions: {
                                columns: ':visible'
                            }
                        }
                        //'searchBuilder',
                        //'searchPanes'
                    ],
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: employeecertificates,
                    columns: [
                        // { 'data': 'EmployeeCertificateId' },
                        { 'data': 'CertificateNumber' },
                        { 'data': 'ApplicatorId' },
                        {
                            'data': 'EmpReceiveDate', render: function (data, type, row) {
                                if (data == null) { return "" }
                                else {
                                    return data.substr(0, 10);
                                }
                            }
                        },
                        { 'data': 'Comment' },
                        { 'data': 'Certificate.CertificateName' },
                        { 'data': 'Employee.FullName' }
                    ],
                    columnDefs: [
                        // {   targets: 1, visible: false, orderable: false
                        //	},
                        {
                            targets: 6,
                            data: null,
                            render: function (data, type, row, meta) {

                                return '<a class="btn btn - link" role="button" href="EmployeeCertificates/Edit/' + data["EmployeeCertificateId"] + '" >Edit</a>';
                            },
                            orderable: false
                        },
                        {
                            targets: 7,
                            data: null,
                            render: function (data, type, row, meta) {

                                return '<a class="btn btn - link" role="button" href="EmployeeCertificates/Details/' + data["EmployeeCertificateId"] + '" >Details</a>';
                            },
                            orderable: false
                        },
                        {
                            targets: 8,
                            data: null,
                            render: function (data, type, row, meta) {

                                return '<a class="btn btn - link" role="button" href="EmployeeCertificates/Delete/' + data["EmployeeCertificateId"] + '" >Delete</a>';
                            },

                            orderable: false
                        },
                    ]
                });
        };
    </script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.2/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.2/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>