﻿@model IEnumerable<CertTrack.Models.EmployeeCertificate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpReceiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpReceiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificate.CertificateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeCertificateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeCertificateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeCertificateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
