﻿@model CertTrack.Models.EmployeeCertificate

@{
    ViewData["Title"] = "Select an Expiration Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>


<p>Select a Standby Date to see the schedule for that date:</p>

@using (Html.BeginForm())
{

    @*

    @Html.EditorFor(Model => Model.EmpReceiveDate, new { htmlAttributes = new { @class = "datepicker" } })


    *@


<select name="expireYear">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
    <option value="2026">2026</option>
    <option value="2027">2027</option>
    <option value="2028">2028</option>
    <option value="2029">2029</option>
    <option value="2030">2030</option>
</select>

    <p></p>

    <div class="form-group">
        <input id="Submit" type="submit" value="Select" class="btn btn-primary" />
    </div>

}





<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");



    }
}