﻿@model CertTrack.Models.CompanyEmployee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Add Employee to Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeStartDate" class="control-label"></label>
                <input asp-for="EmployeeStartDate" class="form-control" />
                <span asp-validation-for="EmployeeStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEndDate" class="control-label"></label>
                <input asp-for="EmployeeEndDate" class="form-control" />
                <span asp-validation-for="EmployeeEndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveRecord" /> @Html.DisplayNameFor(model => model.ActiveRecord)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeJobTitle" class="control-label"></label>
                <input asp-for="EmployeeJobTitle" class="form-control" />
                <span asp-validation-for="EmployeeJobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeIdatCompany" class="control-label"></label>
                <input asp-for="EmployeeIdatCompany" class="form-control" />
                <span asp-validation-for="EmployeeIdatCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorName" class="control-label"></label>
                <input asp-for="SupervisorName" class="form-control" />
                <span asp-validation-for="SupervisorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupPhone" class="control-label"></label>
                <input asp-for="SupPhone" class="form-control" />
                <span asp-validation-for="SupPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupPhoneExt" class="control-label"></label>
                <input asp-for="SupPhoneExt" class="form-control" />
                <span asp-validation-for="SupPhoneExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupEmail" class="control-label"></label>
                <input asp-for="SupEmail" class="form-control" />
                <span asp-validation-for="SupEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
