﻿@model CertTrack.Models.CompanyEmployee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompanyEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveRecord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveRecord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeJobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeJobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeIdatCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeIdatCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupPhoneExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupPhoneExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyEmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
