﻿@model CertTrack.Models.CompanyEmployee

@{
    ViewData["Title"] = "Details";
    Layout = "";
}



<div>
    <h4>Company Information</h4>
    <hr />
    <table>
        <tr>
            <td>
                <B>
                    @Html.DisplayNameFor(model => model.EmployeeStartDate)
</B></td>              <td>
                        @Html.DisplayFor(model => model.EmployeeStartDate)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.EmployeeEndDate)
</B></td>              <td>
                        @Html.DisplayFor(model => model.EmployeeEndDate)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.ActiveRecord)
</B></td>              <td>
                        @Html.DisplayFor(model => model.ActiveRecord)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.EmployeeJobTitle)
</B></td>              <td>
                        @Html.DisplayFor(model => model.EmployeeJobTitle)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.EmployeeIdatCompany)
</B></td>              <td>
                        @Html.DisplayFor(model => model.EmployeeIdatCompany)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.SupervisorName)
</B></td>              <td>
                        @Html.DisplayFor(model => model.SupervisorName)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.SupPhone)
</B></td>              <td>
                        @Html.DisplayFor(model => model.SupPhone)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.SupPhoneExt)
</B></td>              <td>
                        @Html.DisplayFor(model => model.SupPhoneExt)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.SupEmail)
</B></td>              <td>
                        @Html.DisplayFor(model => model.SupEmail)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.Company)
</B></td>              <td>
                        @Html.DisplayFor(model => model.Company.CompanyName)
</td></tr>              <tr><td><B>
                        @Html.DisplayNameFor(model => model.Employee)
</B></td>              <td>
                        @Html.DisplayFor(model => model.Employee.FullName)
                    </td></tr></table>
                    </dl>
</div>

