﻿@model IEnumerable<CertTrack.Models.CertificationSummary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnceCertCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoreCertCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnceCertCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoreCertCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
}
    </tbody>
</table>


    <iframe src="CertificationSummaryTotals" width="100%" scrolling="no"></iframe>


