﻿@model CertTrack.Models.Certificate

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Certificate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationApplicationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationApplicationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificateDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysValid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CertificateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
