﻿@model IEnumerable<CertTrack.Models.Certificate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificationApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysValid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificationApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysValid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CertificateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CertificateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CertificateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
