﻿@model CertTrack.Models.Company

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyBranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyBranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zip2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zip2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryContactFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryContactFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryContactLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryContactLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryContactPhoneExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryContactPhoneExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryContactEmail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CompanyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
