﻿@model CertTrack.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "";
}



<div>
    <h4>Company</h4>
    <hr />
    <table>
        <tr><td><B>
            @Html.DisplayNameFor(model => model.CompanyName)
</B></td>              <td>
            @Html.DisplayFor(model => model.CompanyName)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.CompanyBranchName)
</B></td>              <td>
            @Html.DisplayFor(model => model.CompanyBranchName)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.StreetAddress1)
</B></td>              <td>
            @Html.DisplayFor(model => model.StreetAddress1)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.StreetAddress2)
</B></td>              <td>
            @Html.DisplayFor(model => model.StreetAddress2)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.City)
</B></td>              <td>
            @Html.DisplayFor(model => model.City)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.AddressState)
</B></td>              <td>
            @Html.DisplayFor(model => model.AddressState)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.Zip1)
</B></td>              <td>
            @Html.DisplayFor(model => model.Zip1)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.Zip2)
</B></td>              <td>
            @Html.DisplayFor(model => model.Zip2)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.PrimaryContactFirst)
</B></td>              <td>
            @Html.DisplayFor(model => model.PrimaryContactFirst)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.PrimaryContactLast)
</B></td>              <td>
            @Html.DisplayFor(model => model.PrimaryContactLast)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.PrimaryContactPhone)
</B></td>              <td>
            @Html.DisplayFor(model => model.PrimaryContactPhone)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.PrimaryContactPhoneExt)
</B></td>              <td>
            @Html.DisplayFor(model => model.PrimaryContactPhoneExt)
        
        </td></tr>              <tr><td><B>
            @Html.DisplayNameFor(model => model.PrimaryContactEmail)
</B></td>              <td>
            @Html.DisplayFor(model => model.PrimaryContactEmail)
        
</td></tr></table>
