﻿@model CertTrack.Models.Company

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanyId" />
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyBranchName" class="control-label"></label>
                <input asp-for="CompanyBranchName" class="form-control" />
                <span asp-validation-for="CompanyBranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress1" class="control-label"></label>
                <input asp-for="StreetAddress1" class="form-control" />
                <span asp-validation-for="StreetAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress2" class="control-label"></label>
                <input asp-for="StreetAddress2" class="form-control" />
                <span asp-validation-for="StreetAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip1" class="control-label"></label>
                <input asp-for="Zip1" class="form-control" />
                <span asp-validation-for="Zip1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip2" class="control-label"></label>
                <input asp-for="Zip2" class="form-control" />
                <span asp-validation-for="Zip2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryContactFirst" class="control-label"></label>
                <input asp-for="PrimaryContactFirst" class="form-control" />
                <span asp-validation-for="PrimaryContactFirst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryContactLast" class="control-label"></label>
                <input asp-for="PrimaryContactLast" class="form-control" />
                <span asp-validation-for="PrimaryContactLast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryContactPhone" class="control-label"></label>
                <input asp-for="PrimaryContactPhone" class="form-control" />
                <span asp-validation-for="PrimaryContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryContactPhoneExt" class="control-label"></label>
                <input asp-for="PrimaryContactPhoneExt" class="form-control" />
                <span asp-validation-for="PrimaryContactPhoneExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryContactEmail" class="control-label"></label>
                <input asp-for="PrimaryContactEmail" class="form-control" />
                <span asp-validation-for="PrimaryContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
