﻿@{
    ViewData["Title"] = "Help Page";
}
<h1>@ViewData["Title"]</h1>

<p></p>

<p>To add a new employee or company, select the correct menu option for one of those entities and on the page that opens, select "Create New" from the upper, left side of the screen.</p>

<p>To link an existing employee to an existing company, select "Add Employees to Companies" and select "Create New".</p>

<p>To change the company of an existing employee, go to "Add Employees to Companies", search for that employee and select "Edit" on the right side of the page.  Change the company in the screen that opens.</p>

<p>To record a certificate issued to an existing employee, select "Add Certificates to Employees" and select "Create New"</p>