﻿@model CertTrack.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "";
}



<div>
    <h4>Employee</h4>
    <hr />
    <table>
        <tr><td><B>
            @Html.DisplayNameFor(model => model.FirstName)
        </B></td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.LastName)
</B></td>              <td>
            @Html.DisplayFor(model => model.LastName)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.MiddleInitial)
</B></td>              <td>
            @Html.DisplayFor(model => model.MiddleInitial)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.EmpPhone)
</B></td>              <td>
            @Html.DisplayFor(model => model.EmpPhone)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.EmpPhoneExt)
</B></td>              <td>
            @Html.DisplayFor(model => model.EmpPhoneExt)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.EmpEmail)
</B></td>              <td>
            @Html.DisplayFor(model => model.EmpEmail)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.DateOfBirth)
</B></td>              <td>
            @Html.DisplayFor(model => model.DateOfBirth)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.StreetAddress1)
</B></td>              <td>
            @Html.DisplayFor(model => model.StreetAddress1)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.StreetAddress2)
</B></td>              <td>
            @Html.DisplayFor(model => model.StreetAddress2)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.City)
</B></td>              <td>
            @Html.DisplayFor(model => model.City)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.AddressState)
</B></td>              <td>
            @Html.DisplayFor(model => model.AddressState)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.Zip1)
</B></td>              <td>
            @Html.DisplayFor(model => model.Zip1)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.Zip2)
</B></td>              <td>
            @Html.DisplayFor(model => model.Zip2)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.EmpCompanyId)
</B></td>              <td>
            @Html.DisplayFor(model => model.EmpCompanyId)
        
        </td></tr><tr><td><B>
            @Html.DisplayNameFor(model => model.ApplicatorTeam)
</B></td>              <td>
            @Html.DisplayFor(model => model.ApplicatorTeam)
        </td></tr>
 </table>
</div>

