﻿@model CertTrack.Models.Employee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleInitial" class="control-label"></label>
                <input asp-for="MiddleInitial" class="form-control" />
                <span asp-validation-for="MiddleInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPhone" class="control-label"></label>
                <input asp-for="EmpPhone" class="form-control" />
                <span asp-validation-for="EmpPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPhoneExt" class="control-label"></label>
                <input asp-for="EmpPhoneExt" class="form-control" />
                <span asp-validation-for="EmpPhoneExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpEmail" class="control-label"></label>
                <input asp-for="EmpEmail" class="form-control" />
                <span asp-validation-for="EmpEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress1" class="control-label"></label>
                <input asp-for="StreetAddress1" class="form-control" />
                <span asp-validation-for="StreetAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress2" class="control-label"></label>
                <input asp-for="StreetAddress2" class="form-control" />
                <span asp-validation-for="StreetAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip1" class="control-label"></label>
                <input asp-for="Zip1" class="form-control" />
                <span asp-validation-for="Zip1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip2" class="control-label"></label>
                <input asp-for="Zip2" class="form-control" />
                <span asp-validation-for="Zip2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpCompanyId" class="control-label"></label>
                <input asp-for="EmpCompanyId" class="form-control" />
                <span asp-validation-for="EmpCompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicatorTeam" class="control-label"></label>
                <input asp-for="ApplicatorTeam" class="form-control" />
                <span asp-validation-for="ApplicatorTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="EmployeeDatum" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
