﻿@model CertTrack.Models.Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Summary</h1>





<iframe src="DetailsSummary/1" width="24%" scrolling="yes" height="500" target="_parent"></iframe>
<iframe src="../CompanyEmployees/DetailsSummary/1" width="24%" scrolling="yes" height="500" target="_parent"></iframe>
<iframe src="../EmployeeCertificates/DetailsSummary/1" width="24%" scrolling="yes" height="500" target="_parent"></iframe>
<iframe src="../Companies/DetailsSummary/@Model.EmployeeId" width="24%" scrolling="yes" height="500" target="_parent"></iframe>

