@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_dt.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
          /*  font-family: Arial;
            font-size: 10pt;  */
        }

        /* This needs adjusting to keep buttons on page and the Select number of records option disappeared  */
        
        /*
        .dataTables_wrapper {
            position: relative; 
        }


        
        div#tblEmployee_wrapper { 
        
        width: 95%;  
        float: right;             
                                  }
            */

        
        /*
        div.tblEmployee_length {
        
        z-index: 1;
        left: 5px;
        
        
        }


        div.dataTables_length {
            z-index: 1;
            left: 5px;

        }

           */

        div.floatright {
            display: inline;
            float: right;
            padding-left: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
        }

        div.dt-buttons.btn-group.flex-wrap {
            display: inline;
            float: right;
            padding-left: 5px;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

    </style>
</head>
<body>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div style="width: 100%">
        <table id="tblEmployee" cellpadding="0" cellspacing="0" border="1" style="border-collapse:collapse">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Initial  </th>
                    <th>Phone  </th>
                    <th>PhoneExt  </th>
                    <th>Email  </th>
                    <th>DOB </th>
                    <th>Street Address 1</th>
                    <th>Street Address 2  </th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip1</th>
                    <th>Zip2</th>
                    <th>Comment</th>
                    <th>Company</th>
                    <th>Applicator Team</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!--<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Employees/AjaxMethod3",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });
        function OnSuccess(response) {
            var employees = eval(response);
            $("#tblEmployee").DataTable(
                {   
                    //dom: 'Bfrtip',
                    dom: 'lf<"floatright"B>rtip',
                    //dom: 'lrtip',
                    buttons: [

                        {
                            extend: 'copyHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis',
                        {
                            extend: 'print',
                            exportOptions: {
                                columns: ':visible'
                            }
                        }
                        //'searchBuilder',
                        //'searchPanes'
                    ],   
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: employees,
                    columns: [{ 'data': 'EmployeeId' },
                    { 'data': 'FirstName' },
                    { 'data': 'LastName' },
                    { 'data': 'MiddleInitial' },
                    { 'data': 'EmpPhone' },
                    { 'data': 'EmpPhoneExt' },
                    { 'data': 'EmpEmail' },
                    { 'data': 'DateOfBirth' },
                    { 'data': 'StreetAddress1' },
                    { 'data': 'StreetAddress2' },
                    { 'data': 'City' },
                    { 'data': 'AddressState' },
                    { 'data': 'Zip1' },
                    { 'data': 'Zip2' },
                    { 'data': 'CompanyEmployees[0].Company.CompanyName' },
                    { 'data': 'ApplicatorTeam' }],
                    columnDefs: [
                        {
                            targets: 17,
                            data: null,
                            render: function (data, type, row, meta) {

                                return '<a class="btn btn - link" role="button" href="Employees/Edit/' + data["EmployeeId"] + '" >Edit</a>';
                            }
                        },
                        {
                            targets: 18,
                            data: null,
                            render: function (data, type, row, meta) {

                                return '<a class="btn btn - link" role="button" href="Employees/Details/' + data["EmployeeId"] + '" >Details</a>';
                            }
                        },
                        {
                            targets: 19,
                            data: null,
                            render: function (data, type, row, meta) {

                                return '<a class="btn btn - link" role="button" href="Employees/Delete/' + data["EmployeeId"] + '" >Delete</a>';
                            },

                            orderable: false
                        },
                    ]
                });
        };
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.2/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.2/b-2.0.0/b-colvis-2.0.0/b-html5-2.0.0/b-print-2.0.0/datatables.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>