﻿@model IEnumerable<CertTrack.Models.CertificationSummaryTotal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.OneCertEver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultiCertEver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.OneCertEver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultiCertEver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
}
    </tbody>
</table>
