﻿@model IEnumerable<CertTrack.Models.CertificationSummaryTotal>

@{
    Layout = "";

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CertTrack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        .navbar {
            width: 100%;
        }

        .container {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>Total</th>
            <th>
                @Html.DisplayNameFor(model => model.OneCertEver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultiCertEver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.OneCertEver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultiCertEver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>

        </tr>
}
    </tbody>
</table>
    </body>
